In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series(data=np.random.randn(100))
s1

0    -1.017896
1    -0.852357
2    -0.441078
3     0.604185
4    -1.074442
        ...
95    0.091547
96   -0.338617
97   -0.860248
98    1.285938
99    0.286913
Length: 100, dtype: float64

In [4]:
s2 = s1.abs().map(lambda x: x * 10).round()
s2

0     10.0
1      9.0
2      4.0
3      6.0
4     11.0
      ...
95     1.0
96     3.0
97     9.0
98    13.0
99     3.0
Length: 100, dtype: float64

In [5]:
np.mean(s2)

8.22

In [6]:
# 시리즈, DF의 기본적인 정보
s2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: None
Non-Null Count  Dtype
--------------  -----
100 non-null    float64
dtypes: float64(1)
memory usage: 932.0 bytes

In [7]:
# 판다스 데이터 기본통계 함수
s2.describe()

count    100.00000
mean       8.22000
std        6.30629
min        0.00000
25%        3.00000
50%        7.00000
75%       11.00000
max       32.00000
dtype: float64

In [9]:
s3 = pd.Series(data=[1, 3, 5, np.nan] * 5)
s3

0     1.0
1     3.0
2     5.0
3     NaN
4     1.0
5     3.0
6     5.0
7     NaN
8     1.0
9     3.0
10    5.0
11    NaN
12    1.0
13    3.0
14    5.0
15    NaN
16    1.0
17    3.0
18    5.0
19    NaN
dtype: float64

In [10]:
s3.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: None
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 292.0 bytes

In [12]:
# 결측치 때문에 20개 데이터에서 통계를 구할 대 15개 밖에 안나온다.
s3.describe()

count    15.000000
mean      3.000000
std       1.690309
min       1.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       5.000000
dtype: float64

In [16]:
# 값별 빈도(count)수, 속성(option) dropna = False, normalize=True/False
s3.value_counts(dropna=True, normalize=True)

1.0    0.333333
3.0    0.333333
5.0    0.333333
Name: proportion, dtype: float64

In [24]:
s3.shape

(20,)

In [17]:
# 결측치 확인함수
s3.isnull().sum()

5

#### 데이터프레임과 넘파이

In [23]:
# 데이터프레임 생성 -> 이렇게 만들일은 거의 없음
size = 10
df1 = pd.DataFrame(data={
    'class': [['A', 'B', 'C', 'D', 'F'][np.random.randint(0,5)] for _ in range(0, size)],
    'year': [np.random.randint(2010, 2024) for _ in range(0, size)],
    'month' : [np.random.randint(1, 13) for _ in range(0, size)],
    'val1' : [np.random.randint(1, 11) for _ in range(0, size)],
    'val2' : [np.random.randint(100, 1000) for _ in range(0, size)],
    'val3' : [np.random.randint(10000, 20000) for _ in range(0, size)],
})
df1

  class  year  month  val1  val2   val3
0     B  2022      1     3   891  19410
1     B  2018      4     7   359  16688
2     D  2016      5     3   911  10301
3     D  2011      1     5   488  19353
4     D  2023      8     6   698  12162
5     D  2018      2    10   518  12998
6     A  2012      6     7   253  12653
7     B  2014      1     9   281  18997
8     F  2015      7    10   357  11848
9     F  2015      5     7   741  14397

In [26]:
# shape 출력값 2차원배열과 1차원배열 의미가 상이
df1.shape

(10, 6)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   10 non-null     object
 1   year    10 non-null     int64
 2   month   10 non-null     int64
 3   val1    10 non-null     int64
 4   val2    10 non-null     int64
 5   val3    10 non-null     int64
dtypes: int64(5), object(1)
memory usage: 612.0+ bytes

In [28]:
df1.describe()

              year      month       val1        val2          val3
count    10.000000  10.000000  10.000000   10.000000     10.000000
mean   2016.400000   4.000000   6.700000  549.700000  14880.700000
std       3.921451   2.624669   2.540779  245.889338   3448.505443
min    2011.000000   1.000000   3.000000  253.000000  10301.000000
25%    2014.250000   1.250000   5.250000  357.500000  12284.750000
50%    2015.500000   4.500000   7.000000  503.000000  13697.500000
75%    2018.000000   5.750000   8.500000  730.250000  18419.750000
max    2023.000000   8.000000  10.000000  911.000000  19410.000000