### Pandas 기초

### 가상환경 설치

Virtualenv 모듈 설치

```
> !pip install virtualenv
```

In [44]:
!pip install virtualenv

Requirement already satisfied: virtualenv in c:\source\iot-bigdata-2023\da_env\lib\site-packages (20.24.2)
Requirement already satisfied: distlib<1,>=0.3.7 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from virtualenv) (0.3.7)
Requirement already satisfied: filelock<4,>=3.12.2 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from virtualenv) (3.12.2)
Requirement already satisfied: platformdirs<4,>=3.9.1 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from virtualenv) (3.10.0)

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

#### 가상환경 설정

```
> virtualenv da_env
```

- 주피터 노트북 커널을 da_env(Python 3.11.2) 로 변경 (우측 상단)
- ipykerenl 설치 (아나콘다, VSCode에서 주피터 노트북 사용시 필수)

##### 가상환경 패키지(pip) 확인

In [45]:
!pip list

Package           Version
----------------- -------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.4
debugpy           1.6.7
decorator         5.1.1
distlib           0.3.7
executing         1.2.0
filelock          3.12.2
ipykernel         6.25.1
ipython           8.14.0
jedi              0.19.0
jupyter_client    8.3.0
jupyter_core      5.3.1
matplotlib-inline 0.1.6
nest-asyncio      1.5.7
numpy             1.25.2
packaging         23.1
pandas            2.0.3
parso             0.8.3
pickleshare       0.7.5
pip               23.0
platformdirs      3.10.0
prompt-toolkit    3.0.39
psutil            5.9.5
pure-eval         0.2.2
Pygments          2.16.1
python-dateutil   2.8.2
pytz              2023.3
pywin32           306
pyzmq             25.1.0
setuptools        67.1.0
six               1.16.0
stack-data        0.6.2
tornado           6.3.2
traitlets         5.9.0
tzdata            2023.3
virtualenv        20.24.2
wcwidth           0.2.6
wheel             0.38.4

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

##### 판다스 설치
```
!pip install pandas
```

- Pandas : 2.0.3
- Numpy : 1.25.2

In [46]:
!pip install pandas

Requirement already satisfied: pandas in c:\source\iot-bigdata-2023\da_env\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\source\iot-bigdata-2023\da_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
!pip show pandas

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Source\iot-bigdata-2023\da_env\Lib\site-packages
Requires: numpy, numpy, python-dateutil, pytz, tzdata
Required-by:

In [48]:
!pip show numpy

Name: numpy
Version: 1.25.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: C:\Source\iot-bigdata-2023\da_env\Lib\site-packages
Requires:
Required-by: pandas

#### 판다스 기초

##### 개요

엑셀과 거의 동일한 테이블형태로 데이터를 핸들링할 수 있는 파이썬 모듈

데이터 분석을 위한 추상 자료구조(DataFrame!!)를 제공하는 데이터 분석도구임

##### 기본기능
- 엑셀/CSV/Json 등 데이터파일에서 데이터 읽어오기
- 데이터 처리
- 엑셀/CSV/Json 등 데이터파일에 저장

##### Pandas 용어
- Series, DataFrame
- Index, Columns, Values, etc

#### 판다스 학습 시작!

##### 시리즈

판다스에서 1차원 배열과 똑같은 자료형(데이터 타임)

<img src="https://velog.velcdn.com/images%2Fgjtjsdn1%2Fpost%2F41aab35d-d5bc-4a3f-b0fa-1c8770bf2eb9%2Fimage.png" width="500">

##### 판다스 모듈 import
```python
import pandas as pd
```

In [49]:
import pandas as pd

#### 시리즈 생성

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995809335BFBCC922B" width="500">

In [50]:
# 아래 data는 인덱스별 넣을 데이터, index는 말그대로 인덱스 번호, 기본값은 0, 1, 2, 3.... 이다. name은 이 것의 이름 정도가 된다.

grade = pd.Series(data=['홍길동', 90, 50, 75, 100], index=['이름','국어','영어','수학','미술'], name='기말고사점수')
grade       # grade가 무엇인지 출력, 주피터 노트북에서는 가장 마지막에 변수명만 찍어도 변수에 대한 정보가 나옴

이름    홍길동
국어     90
영어     50
수학     75
미술    100
Name: 기말고사점수, dtype: object

In [51]:
grade.values

array(['홍길동', 90, 50, 75, 100], dtype=object)

In [52]:
grade.index

Index(['이름', '국어', '영어', '수학', '미술'], dtype='object')

In [53]:
grade.name

'기말고사점수'

##### 판다스 시리즈 타입으로 전환

- 리스트 -> pd.Series(data=[])
- 딕셔너리 { 'key' : 'value' } -> pd.Series(data={})

In [54]:
gilsun_data = { '이름' : '홍길순', '국어' : 100, '영어' : 100, '수학' : 100, '미술' : 40}
type(gilsun_data)

dict

In [55]:
# 리스트보다 딕셔너리로 데이터를 사용하는 것이 판다스 시리즈 생성할 때 편리함
grade2 = pd.Series(data=gilsun_data)
grade2

이름    홍길순
국어    100
영어    100
수학    100
미술     40
dtype: object

In [56]:
type(grade2)

pandas.core.series.Series

##### 중요!

None(== Null), NaN -> 결측치라 부르고 결측치가 있으면 데이터 분석이 부정확하다.
결측치가 들어가선 여러모로 짜증나진다.

In [57]:
# (빅)데이터 분석
grade3 = pd.Series(data=['유고', None, 10, 0, None], index=['이름', '국어', '영어', '수학', ''])
grade3

이름      유고
국어    None
영어      10
수학       0
      None
dtype: object

#### 재색인
결측치가 있거나 인덱스가 잘못되었을 때 다시 정립하는 작업
- reindex()의 fill_value 속성을 사용하는 방법 - 이것은 None, NaN이 동시에 처리되지 않는다.
- .fillna()를 사용하는 방법 - None, NaN이 동시에 처리된다.
    - 단, 변경된 값을 적용시키려면 inplace 값을 True로 지정해야 한다.

In [58]:
# 뭔지 모를 값이 사라졌다. 하지만...
grade3.reindex(index=['이름','국어','영어','수학'])

이름      유고
국어    None
영어      10
수학       0
dtype: object

In [59]:
# 위 코드에서는 정상적으로 표시되었지만 그것이 적용되지 않았다는 것을 알 수 있다.
grade3

이름      유고
국어    None
영어      10
수학       0
      None
dtype: object

In [60]:
# 때문에, 그냥 이렇게 새로 변수를 만드는것이 낫다.
grade4=grade3.reindex(index=['이름','국어','영어','수학'])
grade4

이름      유고
국어    None
영어      10
수학       0
dtype: object

In [61]:
# 결측치 없애기
grade5 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'], fill_value = 0)
grade5
# 이 방법은 None과 NaN이 동시에 처리되지 않는다.

이름      유고
국어    None
영어      10
수학       0
미술       0
dtype: object

In [62]:
# 이렇게 해야지 None과 NaN 모두 처리된다.
grade5 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'])
grade5.fillna(0)

이름    유고
국어     0
영어    10
수학     0
미술     0
dtype: object

In [63]:
# 그런데 값이 바뀌어 있지는 않다.
grade5

이름      유고
국어    None
영어      10
수학       0
미술     NaN
dtype: object

In [64]:
# 이렇게 해주어야지 바뀐 값이 적용된다.
grade5.fillna(0, inplace=True)
grade5

이름    유고
국어     0
영어    10
수학     0
미술     0
dtype: object

#### 이름을 바꾸는 작업

인덱스의 이름을 변경해주는 기능

In [65]:
# 이름을 Name으로, 국어를 Korean으로... 등등
grade3.rename({'이름':'Name', '국어':'Korean', '영어':'English', '수학' : 'Math', '':'Art'}, inplace=True)
grade3

Name         유고
Korean     None
English      10
Math          0
Art        None
dtype: object

#### 판다스 시리즈 요소 제어

파이썬 리스트(배열) 요소 접근방법과 유사

In [66]:
grade[0]

'홍길동'

In [67]:
grade['이름']

'홍길동'

In [68]:
print(grade[2])
print(grade['영어'])

50
50

In [69]:
# 로케이션 속성, 현재 지정된 인덱스 명으로 찾음. 숫자는 안됨
grade.loc['영어']

50

#### 시리즈에서 인덱스 변경

변경된 데이터만 임시 출력

In [70]:
grade

이름    홍길동
국어     90
영어     50
수학     75
미술    100
Name: 기말고사점수, dtype: object

In [71]:
grade[['이름', '미술']]

이름    홍길동
미술    100
Name: 기말고사점수, dtype: object

In [72]:
grade.reindex(index=['이름','미술'])

이름    홍길동
미술    100
Name: 기말고사점수, dtype: object

In [73]:
grade

이름    홍길동
국어     90
영어     50
수학     75
미술    100
Name: 기말고사점수, dtype: object

#### 결측치 찾기
- isnull()로 null 값 찾기
- notnull()로 null이 아닌 값 찾기

In [74]:
grade3.isnull()

Name       False
Korean      True
English    False
Math       False
Art         True
dtype: bool

In [75]:
grade3.notnull()

Name        True
Korean     False
English     True
Math        True
Art        False
dtype: bool

In [76]:
grade3['Korean']=40
grade3

Name         유고
Korean       40
English      10
Math          0
Art        None
dtype: object

In [77]:
# 필요한 인덱스의 값만 변경 가능
grade3[['Korean', 'Art']] = (30, 90)

In [78]:
grade3

Name       유고
Korean     30
English    10
Math        0
Art        90
dtype: object

#### 시리즈 삭제

In [79]:
grade7 = grade3

In [80]:
grade7

Name       유고
Korean     30
English    10
Math        0
Art        90
dtype: object

In [81]:
del grade7['Math']

In [82]:
# drop도 없앨 수 있으나 적용시키려면 inplace를 True로 해야 함
grade7.drop('English', inplace=True)

In [83]:
grade7

Name      유고
Korean    30
Art       90
dtype: object

In [84]:
# 데이터 자체를 삭제
del grade7